In [2]:
# Import Dependencies
import pandas as pd
import os

In [3]:
# Define path to csv file
cities_file = os.path.join("Resources","cities.csv")
cities_file

'Resources/cities.csv'

In [9]:
# Read csv file and convert into a Dataframe
file_cities = pd.read_csv(cities_file)
cities_df = pd.DataFrame(file_cities)
cities_df = cities_df[["City_ID", "City", "Country", "Lat", "Max Temp", "Lng", 
                      "Cloudiness", "Wind Speed", "Humidity"]]
cities_df.head()

,City_ID,City,Country,Lat,Max Temp,Lng,Cloudiness,Wind Speed,Humidity
0,0,jacareacanga,BR,-6.22,89.60,-57.76,0,6.93,62
1,1,kaitangata,NZ,-46.28,42.61,169.85,100,5.64,94
2,2,goulburn,AU,-34.75,44.32,149.72,20,10.11,91
3,3,lata,IN,30.78,59.89,78.62,76,0.94,89
4,4,chokurdakh,RU,70.62,32.17,147.90,0,2.95,88

In [10]:
cities_df.to_html('./Resources/cities.html', index=False)